---
layout: page
# title: "Science blogging"
description: "Science blogging"
# header-img: "img/blog-bg.jpg"
tags: science #list of tags that you want to show in description of blog
---

<div class="blog-index">

<p>Musings on maths & biology.</p>
<ul style="list-style-type: none;">
      {%  assign p = '9999' %}
      {%  for post in site.posts%}
            {% if post.secondary != null %}
    {% else %}
      {% assign n = post.date | date: "%Y" %}
      {% if n != p %}
      {%      assign p = n%}
            <br /><h5>{{ n }}</h5>
      {% endif %}
  <li style="padding-bottom: 6px;"><code>[{{ post.date | date: "%d %b" }}]</code>&nbsp;
    <a href="{{ post.url }}" style="white-space: normal;"><b>{{ post.title }}</b></a>&nbsp;
      {{ post.excerpt | strip_html | truncatewords: 12 }}
      </li>
            {% endif %}
      {% endfor %}
</ul>
</div>
