---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  {% endfor %}
]</span>

{% if page.comments == true %}
<div
class="just-comments"
data-apikey="80178b42-e43c-4937-ac52-a2b4dc5b3ed1">
</div>
<script async src="https://just-comments.com/w.js"></script>
{% endif %}

{% if page.mathjax %}

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } },
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true } }
});
</script>

<script>
       MathJax.Hub.Config({
           config: ["MMLorHTML.js"],
           extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
           jax: ["input/TeX"],
           tex2jax: {
               inlineMath: [ ['$','$'], ["\\(","\\)"] ],
               displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
               processEscapes: false
           },
           TeX: {
               TagSide: "right",
               TagIndent: ".8em",
               MultLineWidth: "85%",
               equationNumbers: {
                  autoNumber: "AMS",
               },
               unicode: {
                  fonts: "STIXGeneral,'Arial Unicode MS'"
               }
           },
           showProcessingMessages: false
       });
</script>
{% endif %}

</article>
